#card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 250px;
    margin-right:20px;
    
    margin-bottom: 10px;
    text-align: center;
    font-family: arial;
  }
  
  #price {
    color: grey;
    font-size: 22px;
  }
  #removeButton{
    border: none;
    outline: 0;
    width:100%;
    color:black;
    background-color: #ffc107;
    text-align: center;
    border-radius: 0;
    cursor: pointer;
    margin-top:2px;
    margin-bottom: 10px;
    height:40px;
    padding:6px 12px;
    font-size:18px
  }
  #increment{
    width:20%;
    color:black;
    background-color:gray;
    text-align: center;
    border-radius: 0;
    cursor: pointer;
    margin-top:2px;
    margin-left: 15px;
  }
  #decrement{
    width:20%;
    color:black;
    background-color:gray;
    text-align: center;
    border-radius: 0;
    cursor: pointer;
    margin-top:2px;
    margin-right:15px;
  }
 
  
  #card button:hover {
    opacity: 0.7;
  }
  #totalPrice{
    height:200px
  }
  #price1{
    margin-top: 0;
  }
/*   
@media only screen and (min-width:502px){
  #card{
      width:25%;
      height: 350px;

  }
  #card #image{
      height: 200px;
  }
  #addButton{
      border-radius: 0%;
      width: 100%
  }
  #cardTitle{
      font-size:15px;
  }
  
  #searchBar{
      width:75%;
  }
}

@media only screen and (max-width:500px){
  #card{
      width:250px;
      height:200px;
      
      }
  #card #image{
     
      width:100%;
      height: 100px;
      
  }
  #searchBar{
      width:250px;
  }
  #brandName{
      display: none;
  }
  #cardTitle{
      font-size:15px;
  }
  #cardDesc{
      font-size: 10px;
  }
  #addButton{
      height: 30px;
      border-radius: 0%;
      
  }
}
 */
