
@media only screen and (min-width:502px){
    #homeCard{
        width:25%;
        height: 320px;

    }
    #homeCard #image{
        height: 200px;
    }
    #addButton{
        border-radius: 0%;
        width: 100%
    }
    #cardTitle{
        font-size:15px;
    }
    
    #searchBar{
        width:75%;
    }
}

@media only screen and (max-width:500px){
    #homeCard{
        width:200px;
        height:250px;
        
        }
    #homeCard #image{
       
        width:100%;
        height: 100px;
        
    }
    #searchBar{
        width:250px;
    }
    #brandName{
        display: none;
    }
    #cardTitle{
        font-size:15px;
    }
    #cardDesc{
        font-size: 10px;
    }
    #addButton{
        height: 30px;
        border-radius: 0%;
        
    }
}

